div.row label {
    padding: 10px;
    padding-left: 0;
    font-weight: bold;
    font-size: 125%;
}
textarea.text-editor-full {
    width: 100%;
    min-height: 400px;
}
div.row.article-text-editor-preview {
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
    background-color: #F9F9F9;
}
span.tree-spacer {
    color: #EEEEEE;
}
.table td.no-border {
    border: 0;
}